ENVIRONMENT=development
DATABASE_URL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=FitData GYM <fitdatagym@gmail.com>

# Integraciones opcionales de correo
GMAIL_REFRESH_TOKEN=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
SENDGRID_API_KEY=
